.App {
  background-color: rgb(251, 192, 192);
  border-radius: 10px;
  box-shadow: rgba(83, 1, 1, 0.445) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  text-align: center;
  width: 50%;
}
.App article {
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
}
.App select,
.App input {
  cursor: pointer;
  padding: 1rem;
}
